* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.home {
    margin: 70px 20px 30px;
}
.home h2 {
    text-align: center;
}
.home .inputs label {
    font-size: 1.7rem;
}
.home .inputs input {
    width: 100%;
    height: 35px;
}
.home .inputs select {
    width: 100%;
    height: 35px;
}
.home .inputs textarea {
    width: 100%;
    height: 80px;
}