<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leave Request Process</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!--    Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

<div class="home">
    <h2>New Leave Request poepr</h2>

    <form>
        <div class="inputs">
            <label>Employee Name:</label></br>
            <input type="text">
        </div>
        <div class="inputs">
            <label>Leave Type:</label></br>
            <select >
                <option value="">Sick Leave</option>
                <option value="">Emergency</option>
                <option value="">Vacation</option>
            </select>
        </div>
        <div class="inputs">
            <label>Start Date:</label></br>
            <input type="date">
        </div>
        <div class="inputs">
            <label>End Date:</label></br>
            <input type="date">
        </div>
        <div class="inputs">
            <label>Reason:</label></br>
            <textarea></textarea>
        </div>

    </form>
</div>

</body>
</html>